

<div>
    <h2>Products</h2>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="cool">Title</th>
                <th scope="cool">Description</th>
                <th scope="cool">Price</th>
                <th scope="cool">Code</th>
                <th scope="cool">Stock</th>
                <th scope="cool">Status</th>
                <th scope="cool">Category</th>
            </tr>
        </thead>

        <tbody id="productsRealTime">

        </tbody>

    </table>

</div>

<script src="js/realTimeProducts.js"></script>