
<h1>Chat</h1>

<div>
    <i id="username" style="font-weight: bold">:</i> <input type="text" id="chatBox">
</div>
<div>
    <p id="messageLogs"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
