
<div>
    <h2>Add products</h2>
    <form id="createProductForm">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="price" placeholder="Price">
        <input type="text" name="code" placeholder="Code">
        <input type="text" name="stock" placeholder="Stock">
        <input type="text" name="status" placeholder="Status">
        <input type="text" name="category" placeholder="Category">
        <input type="submit" value="Submit">
    </form>
</div>

<div>
    <h2>Products</h2>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="cool">Title</th>
                <th scope="cool">Description</th>
                <th scope="cool">Price</th>
                <th scope="cool">Code</th>
                <th scope="cool">Stock</th>
                <th scope="cool">Status</th>
                <th scope="cool">Category</th>
            </tr>
        </thead>

        <tbody id="productsRealTime">

        </tbody>

    </table>

</div>

<script src="js/realTimeProducts.js"></script>